@media only screen and (min-width: 1439px) {
    /* Desktop */
    div.M_SectionTitle {
        height: 148px;
        width: 1308px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 64px;
        div.A_BorderDown {
            margin-top: 0px;
        }
        div.A_BorderUp {
            margin-top: 12px;
        }
        div.Rectangle {
            height: 108px;
            width: 1288px;
            background-color: var(--rm);
            margin-top: 12px;
            h1 {
                color: black;
                text-align: center;
                margin: 32px;
            }
        }
    }
}
  
  
@media only screen and (min-device-width: 1024px) and (max-device-width: 1440px) {
    /* Tablet */
    div.M_SectionTitle {
        height: 148px;
        width: 896px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 64px;
        div.A_BorderDown {
            margin-top: 0px;
        }
        div.A_BorderUp {
            margin-top: 12px;
        }
        div.Rectangle {
            height: 108px;
            width: 884px;
            background-color: var(--rm);
            margin-top: 12px;
            h1 {
                color: black;
                text-align: center;
                margin: 32px;
            }
        }
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /* Tablet Portrait */
    div.M_SectionTitle {
        height: 112px;
        width: 640px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 48px;
        div.A_BorderDown {
            margin-top: 0px;
        }
        div.A_BorderUp {
            margin-top: 12px;
        }
        div.Rectangle {
            height: 72px;
            width: 634px;
            background-color: var(--rm);
            margin-top: 12px;
            h1 {
                color: black;
                text-align: center;
                margin: 24px;
            }
        }
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
    /* Mobile */
    div.M_SectionTitle {
        height: 112px;
        width: 280px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 32px;
        div.A_BorderDown {
            margin-top: 0px;
        }
        div.A_BorderUp {
            margin-top: 12px;
        }
        div.Rectangle {
            height: 72px;
            width: 278px;
            background-color: var(--rm);
            margin-top: 12px;
            h1 {
                color: black;
                text-align: center;
                margin: 24px;
            }
        }
    }
}