@media only screen and (min-width: 1439px) {
    /* Desktop */
    div.A_BGInset {
        display: flex;
        flex-direction: column;
        background-color: var(--asphalt);
        border-radius: 16px;
        width: 1068px;
        height: 216px;
        margin-left: 118px;
        margin-top: 64px;
            h2 {
                font-family: 'Angry';
                background-clip: text;
                background-image: var(--gh);
                background-size: 100%;
                color: transparent;
                text-align: center;
                padding: 8px;
                margin-top: 40px;
            }
            h3 {
                color: white;
                text-align: center;
                padding: 0 32px 0 0;
            }
        }
    }

  
  
@media only screen and (min-device-width: 1024px) and (max-device-width: 1440px) {
    /* Tablet */
    div.W_QuoteWithPicture {
        display: flex;
        flex-direction: row;
        margin-left: 40px;
        margin-top: 168px;
        div.Q_ImageVrezhik1 {
            background: url(images/Q_ImageVrezhik1.png);
            height: 136px;
            width: 200px;
            z-index: 2;
        }
        div.A_Quote {
            background: var(--gh);
            border-radius: 16px;
            height: 64px;
            width: 268px;
            margin-top: 48px;
            margin-left: -64px;
            z-index: 1;
            h3 {
                font-family: 'Angry';
                font-size: 16px;
                color: white;
                text-align: left;
                padding: 8px;
                margin-left: 56px;
            }
            h6 {
                font-family: 'Geologica';
                font-size: 12px;
                font-weight: 400;
                color: white;
                text-align: right;
                padding: 0 32px 0 0;
            }
        }
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /* Tablet Portrait */
    div.W_QuoteWithPicture {
        display: flex;
        flex-direction: row;
        margin-left: 40px;
        margin-top: 168px;
        div.Q_ImageVrezhik1 {
            background: url(images/Q_ImageVrezhik1.png);
            height: 136px;
            width: 200px;
            z-index: 2;
        }
        div.A_Quote {
            background: var(--gh);
            border-radius: 16px;
            height: 64px;
            width: 268px;
            margin-top: 48px;
            margin-left: -64px;
            z-index: 1;
            h3 {
                font-family: 'Angry';
                font-size: 16px;
                color: white;
                text-align: left;
                padding: 8px;
                margin-left: 56px;
            }
            h6 {
                font-family: 'Geologica';
                font-size: 12px;
                font-weight: 400;
                color: white;
                text-align: right;
                padding: 0 32px 0 0;
            }
        }
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
    /* Mobile */
    div.W_QuoteWithPicture {
        display: flex;
        flex-direction: row;
        margin-left: 32px;
        margin-top: 168px;
        div.Q_ImageVrezhik1 {
            background: url(images/Q_ImageVrezhik1.png);
            height: 68px;
            width: 100px;
            background-size: contain;
            background-repeat: no-repeat;
            z-index: 2;
        }
        div.A_Quote {
            background: var(--gh);
            border-radius: 8px;
            height: 72px;
            width: 248px;
            margin-top: 0px;
            margin-left: -64px;
            z-index: 1;
            h3 {
                font-family: 'Angry';
                font-size: 16px;
                color: white;
                text-align: left;
                padding: 8px;
                margin-left: 56px;
            }
            h6 {
                font-family: 'Geologica';
                font-size: 12px;
                font-weight: 400;
                color: white;
                text-align: right;
                padding: 0 32px 0 0;
            }
        }
    }
}
    