@media only screen and (min-width: 1439px) {
    /* Desktop */
    div.A_BorderUp {
        height: 8px;
        width: 1308px;
        background: var(--gh);
        border-top-right-radius: 24px;
        border-top-left-radius: 24px;
        margin-top: 104px;
    }
}
  
  
@media only screen and (min-device-width: 1024px) and (max-device-width: 1440px) {
    /* Tablet */
    div.A_BorderUp {
        height: 8px;
        width: 894px;
        background: var(--gh);
        border-top-right-radius: 24px;
        border-top-left-radius: 24px;
        margin-top: 88px;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /* Tablet Portrait */
    div.A_BorderUp {
        height: 8px;
        width: 640px;
        background: var(--gh);
        border-top-right-radius: 24px;
        border-top-left-radius: 24px;
        margin-top: 64px;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
    /* Mobile */
    div.A_BorderUp {
        height: 8px;
        width: 280px;
        background: var(--gh);
        border-top-right-radius: 24px;
        border-top-left-radius: 24px;
        margin-top: 48px;
    }
}