div.A_NavigationButton {
    background-color: none;
    justify-content: center;
    a {
        h1 {
            font-family: 'Angry';
            font-size: 20px;
            color: white;
            padding: 8px 16px 8px 16px;
            :hover {
                color: var(--gvf);
            }
            :active {
                color: var(--gva);
            }
        }
    }
}