@media only screen and (min-width: 1439px) {
    /* Desktop */
    div.A_PictureArticleV {
        height: 600px;
        width: 486px;
        margin-right: 118px;
        &.one {
            background-image: url(images/img37.png);
        }
    }
}
  
  
@media only screen and (min-device-width: 1024px) and (max-device-width: 1440px) {
    /* Tablet */
    div.A_PictureArticleV {
        height: 388px;
        width: 336px;
        background-repeat: no-repeat;
        background-size: contain;
        margin-left: 32px;
        &.one {
            background-image: url(images/img37.png);
        }
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /* Tablet Portrait */
    div.A_PictureArticleV {
        background-repeat: no-repeat;
        background-size: contain;
        margin-top: 32px;
        margin-left: 16px;
        &.one {
            background-image: url(images/img37.png);
            width: 598px;
            height: 738px;
        }
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
    /* Mobile */
    div.A_PictureArticleV {
        background-repeat: no-repeat;
        background-size: contain;
        margin-top: 32px;
        margin-left: 8px;
        &.one {
            background-image: url(images/img37.png);
            width: 262px;
            height: 324px;
        }
    }
}