div.A_SearchButton {
    padding: 8px;
    button {
        height: 25px;
        width: 52px;
        border: none;
        outline: none;
        border-radius: 8px;
        text-align: center;
        text-decoration: none;
        font-size: 12px;
        font-family: 'Geologica';
        font-weight: 400;
        color: white;
        background: var(--gvi);
    }
    :hover {
        background: var(--gvf);
    }
    :active {
        background: var(--gva);
    }
}