@media only screen and (min-width: 1439px) {
    /* Desktop */
    div.O_CardArticle {
        display: flex;
        justify-content: top;
        flex-direction: column;
        width: 408px;
        height: 448px;
        background: var(--rm);
        border-radius: 24px;
        div.Q_ImageCards {
            width: 408px;
            height: 298px;
            background-repeat: no-repeat;
            background-size: contain;   
        }
        h4 {
            margin-top: 16px;
            margin-left: 32px;
            width: 300px;  
        }
    }
    body.article {
        div.O_CardArticle {
            display: flex;
            justify-content: top;
            flex-direction: column;
            width: 408px;
            height: 448px;
            background: var(--rms);
            border-radius: 24px;
            div.Q_ImageCards {
                width: 408px;
                height: 298px;
                background-repeat: no-repeat;
                background-size: contain;   
            }
            h4 {
                margin-top: 16px;
                margin-left: 32px;
                width: 300px;  
               }   }
    }
}
  
  
@media only screen and (min-device-width: 1024px) and (max-device-width: 1440px) {
    /* Tablet */
    div.O_CardArticle {
        display: flex;
        justify-content: top;
        flex-direction: column;
        width: 408px;
        height: 448px;
        background: var(--rm);
        border-radius: 24px;
        div.Q_ImageCards {
            width: 408px;
            height: 298px;
            background-repeat: no-repeat;
            background-size: contain;   
        }
        h4 {
            margin-top: 16px;
            margin-left: 32px;
            width: 300px;  
        }
    }
    body.article {
        div.O_CardArticle {
            display: flex;
            justify-content: top;
            flex-direction: column;
            width: 408px;
            height: 448px;
            background: var(--rms);
            border-radius: 24px;
            div.Q_ImageCards {
                width: 408px;
                height: 298px;
                background-repeat: no-repeat;
                background-size: contain;   
            }
            h4 {
                margin-top: 16px;
                margin-left: 32px;
                width: 300px;  
            }
        }
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /* Tablet Portrait */
    div.O_CardArticle {
        display: flex;
        justify-content: top;
        flex-direction: column;
        width: 280px;
        height: 308px;
        background: var(--rm);
        border-radius: 24px;
        div.Q_ImageCards {
            width: 280px;
            height: 206px;
            background-repeat: no-repeat;
            background-size: contain;   
        }
        h4 {
            margin-top: 16px;
            margin-left: 16px;
            width: 200px;  
        }
    }
    body.article {
        div.O_CardArticle {
            display: flex;
            justify-content: top;
            flex-direction: column;
            width: 280px;
            height: 308px;
            background: var(--rms);
            border-radius: 24px;
            margin-top: 16px;
            div.Q_ImageCards {
                width: 280px;
                height: 206px;
                background-repeat: no-repeat;
                background-size: contain;   
            }
            h4 {
                margin-top: 16px;
                margin-left: 16px;
                width: 200px;  
            }
        }
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
    /* Mobile */
    div.O_CardArticle {
        display: flex;
        justify-content: top;
        flex-direction: column;
        width: 280px;
        height: 308px;
        background: var(--rm);
        border-radius: 24px;
        div.Q_ImageCards {
            width: 280px;
            height: 206px;
            background-repeat: no-repeat;
            background-size: contain;   
        }
        h4 {
            margin-top: 16px;
            margin-left: 16px;
            width: 200px;  
        }
    }
    body.article {
        div.O_CardArticle {
            display: flex;
            justify-content: top;
            flex-direction: column;
            width: 280px;
            height: 308px;
            background: var(--rms);
            border-radius: 24px;
            div.Q_ImageCards {
                width: 280px;
                height: 206px;
                background-repeat: no-repeat;
                background-size: contain;   
            }
            h4 {
                margin-top: 16px;
                margin-left: 16px;
                width: 200px;  
            }
        }
    }
}
