// @media only screen and (min-width: 1440px) {
//     /* Desktop */
    div.W_MenuBar {
        background: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        div.Q_Logo {
            background: url(images/Q_Logo.svg);
            height: 50px;
            width: 136px;
            
        }
        span {
            display: none;
        }
    }
    // }