body.index {
    background-color: #1E1E1E;
    font-family: 'Geologica';
    display: flex;
    justify-content: center;
    div.background1 {
        width: 100%;
            div.orangerect1 {
                width: 100vw;
                height: 232px;
                background-color: var(--projectorange);
                margin-top: 198px;
                position: absolute;
            }
            div.whiterect1 {
                width: 1057px;
                height: 654px;
                background-color: white;
                border-radius: 41px;
                position: absolute;
                align-self: center;
                justify-self: center;
                justify-content: center;
                    form>* {
                        font-size: 16px;
                        font-weight: 400;  
                    }
            }
    }
        script>* {
            font-size: 16px;
            font-weight: 600;
        }
        a {
            font-size: 16px;
            font-weight: 400;
            text-decoration: none;
            color: var(--projectorange);
    }
    a:hover {
        color: white;
    }
}
