@media only screen and (min-width: 1439px) {
    /* Desktop */
    body {
        background-color: var(--asphalt);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    a {
        text-decoration: none;
        color: black;
    }

    body.test {
        h1 {
            text-align: center;
            span {
                background-clip: text;
                background-image: var(--gh);
                background-size: 100%;
                color: transparent;
            }
        }
    }
}
  
  
@media only screen and (min-device-width: 1024px) and (max-device-width: 1440px) {
    /* Tablet */
    body {
        background-color: var(--asphalt);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    a {
        text-decoration: none;
        color: black;
    }
    body.test {
        h1 {
            text-align: center;
            span {
                background-clip: text;
                background-image: var(--gh);
                background-size: 100%;
                color: transparent;
            }
        }
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /* Tablet Portrait */
    body {
        background-color: var(--asphalt);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    a {
        text-decoration: none;
        color: black;
    }
    body.test {
        h1 {
            text-align: center;
            span {
                background-clip: text;
                background-image: var(--gh);
                background-size: 100%;
                color: transparent;
            }
        }
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
    /* Mobile */
    body {
        background-color: var(--asphalt);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    a {
        text-decoration: none;
        color: black;
    }
    body.test {
        h1 {
            font-size: 16px;
            text-align: center;
            span {
                background-clip: text;
                background-image: var(--gh);
                background-size: 100%;
                color: transparent;
            }
        }
    }
}
    
