:root {
    --white: #FFFFFF;
    --black: #000000;
    --gh: linear-gradient(to right, #FF5501, #F58229);
    --gvi: linear-gradient(to top, #FF5501, #F58229);
    --gva: linear-gradient(to bottom, #FF5501, #F58229);
    --gvf: linear-gradient(to top, #C84300, #DA6912);
    --asphalt: #282828;
    --rm: #EBE3E0;
    --rms: #F6F6F6;
  }

