
    <div class="W_MenuBar">
        <div class="Q_Logo"></div>
        <div class="C_MenuPieceOne">
            <div class="A_NavigationButton">
                <a href=""><h1>Статьи</h1></a>
            </div>
            <div class="A_NavigationButton">
                <a href=""><h1>Обучение</h1></a>
            </div>
            <div class="A_NavigationButton">
                <a href=""><h1>Правила</h1></a>
            </div>
        </div>
        <div class="C_MenuPieceOneDesktop">
            <div class="A_NavigationButton">
                <a href=""><h1>Статьи</h1></a>
            </div>
            <div class="A_NavigationButton">
                <a href=""><h1>Обучение</h1></a>
            </div>
            <div class="A_NavigationButton">
                <a href=""><h1>Правила</h1></a>
            </div>
            <div class="A_NavigationButton">
                <a href=""><h1>О нас</h1></a>
            </div>
        </div>
        <div class="Q_Logo"></div>
        <div class="W_MenuPieceTwo">
            <div class="A_NavigationButton">
                <a href=""><h1>О нас</h1></a>
            </div>
            <div class="M_SearchBar">
                <div class="A_Search">
                    <div class="Q_IconSearch"></div>
                    <h5 class="Q_TextSearch"></h5>
                    <div class="Q_Close"></div>
                </div>
                <div class="A_SearchButton">
                    <button>
                        <h6>поиск</h6>
                    </button>
                </div>
            </div>
        </div>
    </div>
