<div class="W_MenuBar">
  <span><div class="Q_Logo"></div></span>
  <div class="C_MenuPieceOne">
    <div class="A_NavigationButton">
      <a href=""><h1>Статьи</h1></a>
    </div>
    <div class="A_NavigationButton">
      <a href=""><h1>Обучение</h1></a>
    </div>
    <div class="A_NavigationButton">
      <a href=""><h1>Правила</h1></a>
    </div>
  </div>
  <div class="C_MenuPieceOneTablet">
    <div class="A_NavigationButton">
      <a href="https://hseadc.github.io/GAGZ/articles.html"><h1>Статьи</h1></a>
    </div>
    <div class="A_NavigationButton">
      <a href="https://hseadc.github.io/GAGZ/education.html"
        ><h1>Обучение</h1></a
      >
    </div>
    <div class="A_NavigationButton">
      <a href="https://hseadc.github.io/GAGZ/pdd.html"><h1>Правила</h1></a>
    </div>
    <div class="A_NavigationButton">
      <a href=""><h1>О нас</h1></a>
    </div>
  </div>
  <div class="Q_Logo"></div>
  <div class="W_MenuPieceTwo">
    <div class="A_NavigationButton">
      <a href=""><h1>О нас</h1></a>
    </div>
    <div class="M_SearchBar">
      <div class="A_Search">
        <div class="Q_IconSearch"></div>
        <form action="" method="get">
          <input type="search" placeholder="Я ищу..." />
        </form>
      </div>
      <div class="A_SearchButton">
        <button type="submit">поиск</button>
      </div>
    </div>
  </div>
  <span>
    <div class="M_SearchBar">
      <div class="A_Search">
        <div class="Q_IconSearch"></div>
        <form action="" method="get">
          <input type="search" placeholder="Я ищу..." />
        </form>
      </div>
      <div class="A_SearchButton">
        <button type="submit">поиск</button>
      </div>
    </div>
  </span>
</div>
