@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
    /* Mobile */
    div.C_MiniBlockSimple {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-top: -16px;   
    }
    div.W_Tablet {
        div.C_MiniBlockSimple {
            margin-top: 0;
        }
    }
}