/* global */
@import 'stylesheets/reset.scss';
@import 'stylesheets/fonts.scss';
@import 'stylesheets/vars.scss';
@import 'stylesheets/pages.scss';
@import 'stylesheets/textstyles.scss';
@import 'stylesheets/partials/menubar.scss';

/* atoms */
@import 'stylesheets/components/atoms/A_NavigationButton.scss';
@import 'stylesheets/components/atoms/A_Search.scss';
@import 'stylesheets/components/atoms/A_SearchButton.scss';
@import 'stylesheets/components/atoms/A_PictureMain.scss';
@import 'stylesheets/components/atoms/A_BorderUp.scss';
@import 'stylesheets/components/atoms/A_BorderDown.scss';
@import 'stylesheets/components/atoms/A_UnitTitle.scss';
@import 'stylesheets/components/atoms/A_ButtonCTA.scss';
@import 'stylesheets/components/atoms/A_Tag.scss';

/* molecules */
@import 'stylesheets/components/molecules/M_SearchBar.scss';
@import 'stylesheets/components/molecules/M_HeaderSpecialCard.scss';

/* organisms */
@import 'stylesheets/components/organisms/O_CardArticle.scss';
@import 'stylesheets/components/organisms/O_CardRulesEducation.scss';
@import 'stylesheets/components/organisms/O_CardEducationLong.scss';
@import 'stylesheets/components/organisms/O_CardSimple.scss';

/* super-organisms */
@import 'stylesheets/components/super-organisms/S_Unit.scss';
@import 'stylesheets/components/super-organisms/S_UnitE.scss';

/* collections */
@import 'stylesheets/components/collections/C_MenuFooter.scss';
@import 'stylesheets/components/collections/C_MenuPieceOne.scss';
@import 'stylesheets/components/collections/C_MenuPieceOneTablet.scss';
@import 'stylesheets/components/collections/C_Block.scss';
@import 'stylesheets/components/collections/C_CardTags.scss';
@import 'stylesheets/components/collections/C_MiniBlockSimple.scss';


/* wrappers */
@import 'Stylesheets/components/wrappers/W_MenuPieceTwo.scss';
@import 'stylesheets/components/wrappers/W_CardSpecial.scss';
@import 'stylesheets/components/wrappers/W_QuoteWithPicture.scss';
@import 'stylesheets/components/wrappers/W_Title.scss';
@import 'stylesheets/components/wrappers/W_Tablet.scss';
@import 'stylesheets/components/wrappers/W_Desktop.scss';


